button {
    border: 1px solid green;
    background-color: greenyellow;
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}